@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-xl-12">
        <div id="panel1-1" class="panel">
            <div class="col-xl-12 ml-auto mr-auto mt-3 mb-3">
                <div class="card p-4 rounded-plus bg-faded">
                    <div class="text-center">
                        <h1 class="display-4">Welcome</h1>
                        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
