@{
    ViewData["Title"] = "회원목록";
}

@section css{
}

@section scripts{
}

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    <span>회원목록</span>
                </h2>
            </div>
            <div class="col-xl-12 ml-auto mr-auto mb-3 mt-3">
                <form method="post" action="/Member/Register">
                    <input type="text" name="email" />
                    <input type="password" name="password" />
                    <button type="submit">저장</button>
                </form>
            </div>
        </div>
    </div>
</div>
