@using Microsoft.AspNetCore.Identity
@using AllregoSoft.WebManagementSystem.WebAdmin.ViewModels
@using AllregoSoft.WebManagementSystem.WebAdmin.Services

@inject IIdentityParser<ApplicationUser> UserManager

<div>
    @if (User.FindFirst(x => x.Type == "account") != null)
    {
        <form asp-area="" asp-controller="Account" asp-action="SignOut" method="post" id="logoutForm" class="navbar-right">
            <a href="#" data-toggle="dropdown" class="header-icon d-flex align-items-center justify-content-center ml-2">
                <img src="~/bootstrap/img/logo.png" class="profile-image rounded-circle">
                <span class="ml-1 mr-1 text-truncate text-truncate-header hidden-xs-down">@User.FindFirst(x => x.Type == "account").Value</span>
                <i class="ni ni-chevron-down hidden-xs-down"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-animated dropdown-lg">
                <div class="dropdown-divider m-0"></div>
                <a href="#" class="dropdown-item" data-action="app-fullscreen">
                    <span data-i18n="drpdwn.fullscreen">Fullscreen</span>
                    <i class="float-right text-muted fw-n">F11</i>
                </a>
                @*<a href="#" class="dropdown-item" data-action="app-print">
                        <span data-i18n="drpdwn.print">Print</span>
                        <i class="float-right text-muted fw-n">Ctrl + P</i>
                    </a>*@
                <div class="dropdown-divider m-0"></div>
                <a class="dropdown-item fw-500 pt-3 pb-3" href="javascript:document.getElementById('logoutForm').submit()">
                    <span data-i18n="drpdwn.page-logout">Logout</span>
                    <span class="float-right fw-n">@*&commat;codexlantern*@</span>
                </a>
            </div>
        </form>
    }
</div>